# Data Acquisition

In [1]:
# Import pandas
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv('train.csv')
df_lectures = pd.read_csv('lectures.csv')
df_questions = pd.read_csv('questions.csv')

In [3]:
df_train.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [4]:
df_lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [5]:
df_questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [6]:
df_merge_1 = df_train.merge(df_questions, how='left', left_on='content_id', right_on='question_id')

In [7]:
df_train.shape

(101230332, 10)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB

In [9]:
df = df_merge_1.merge(df_lectures, how='left', left_on='content_id', right_on='lecture_id')

In [10]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part_x,tags,lecture_id,tag,part_y,type_of
0,0,0,115,5692,0,1,3,1,NaN,NaN,5692.0,5692.0,3.0,5.0,151,NaN,NaN,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False,5716.0,5716.0,2.0,5.0,168,NaN,NaN,NaN,NaN
2,2,118363,115,128,0,0,0,1,55000.0,False,128.0,128.0,0.0,1.0,131 149 92,NaN,NaN,NaN,NaN
3,3,131167,115,7860,0,3,0,1,19000.0,False,7860.0,7860.0,0.0,1.0,131 104 81,NaN,NaN,NaN,NaN
4,4,137965,115,7922,0,4,1,1,11000.0,False,7922.0,7922.0,1.0,1.0,131 149 92,NaN,NaN,NaN,NaN

In [11]:
df.columns.to_list()

['row_id',
 'timestamp',
 'user_id',
 'content_id',
 'content_type_id',
 'task_container_id',
 'user_answer',
 'answered_correctly',
 'prior_question_elapsed_time',
 'prior_question_had_explanation',
 'question_id',
 'bundle_id',
 'correct_answer',
 'part_x',
 'tags',
 'lecture_id',
 'tag',
 'part_y',
 'type_of']

In [12]:
df[df.part_x == df.part_y]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part_x,tags,lecture_id,tag,part_y,type_of
30,30,710402,115,100,0,30,0,1,20000.0,False,100.0,100.0,0.0,1.0,131 5 81,100.0,70.0,1.0,concept
254,254,166032041,8623,335,0,30,0,1,18000.0,True,335.0,335.0,0.0,2.0,2 107 162 92 29,335.0,114.0,2.0,concept
295,295,405813029,8623,10540,1,59,-1,-1,NaN,False,10540.0,10540.0,3.0,1.0,131 101 81,10540.0,99.0,1.0,concept
807,807,15020727105,13134,335,0,175,0,1,18000.0,True,335.0,335.0,0.0,2.0,2 107 162 92 29,335.0,114.0,2.0,concept
1963,1963,1373479003,24418,9896,1,76,-1,-1,NaN,False,9896.0,9896.0,1.0,5.0,1,9896.0,167.0,5.0,concept
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101229500,101229500,12986750404,2147470777,8708,1,200,-1,-1,NaN,False,8708.0,8708.0,3.0,5.0,55,8708.0,47.0,5.0,concept
101229577,101229577,13020702732,2147470777,10075,0,243,0,0,26500.0,True,10075.0,10074.0,3.0,6.0,44,10075.0,27.0,6.0,solving question
101229695,101229695,13025511783,2147470777,9896,1,312,-1,-1,NaN,False,9896.0,9896.0,1.0,5.0,1,9896.0,167.0,5.0,concept
101229710,101229710,13025927114,2147470777,10354,0,324,1,0,11000.0,True,10354.0,10352.0,3.0,6.0,89,10354.0,80.0,6.0,concept
101230265,101230265,1416460250,2147482216,5120,0,240,0,1,17000.0,True,5120.0,5120.0,0.0,5.0,8,5120.0,177.0,5.0,solving question

In [13]:
df.rename(columns={'part_x': 'question_part', 'part_y': 'lecture_part'}, inplace=True)

In [14]:
df.columns.to_list()

['row_id',
 'timestamp',
 'user_id',
 'content_id',
 'content_type_id',
 'task_container_id',
 'user_answer',
 'answered_correctly',
 'prior_question_elapsed_time',
 'prior_question_had_explanation',
 'question_id',
 'bundle_id',
 'correct_answer',
 'question_part',
 'tags',
 'lecture_id',
 'tag',
 'lecture_part',
 'type_of']

In [16]:
# df = df[['row_id',
#          'timestamp',
#          'user_id',
#          'content_id',
#          'content_type_id',
#          'task_container_id',
#          'user_answer',
#          'prior_question_elapsed_time',
#          'prior_question_had_explanation',
#          'question_id',
#          'bundle_id',
#          'correct_answer',
#          'question_part',
#          'tags',
#          'lecture_id',
#          'tag',
#          'lecture_part',
#          'type_of',
#          'answered_correctly']]

In [17]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,question_part,tags,lecture_id,tag,lecture_part,type_of
0,0,0,115,5692,0,1,3,1,NaN,NaN,5692.0,5692.0,3.0,5.0,151,NaN,NaN,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False,5716.0,5716.0,2.0,5.0,168,NaN,NaN,NaN,NaN
2,2,118363,115,128,0,0,0,1,55000.0,False,128.0,128.0,0.0,1.0,131 149 92,NaN,NaN,NaN,NaN
3,3,131167,115,7860,0,3,0,1,19000.0,False,7860.0,7860.0,0.0,1.0,131 104 81,NaN,NaN,NaN,NaN
4,4,137965,115,7922,0,4,1,1,11000.0,False,7922.0,7922.0,1.0,1.0,131 149 92,NaN,NaN,NaN,NaN

In [18]:
df.fillna(0, inplace=True)

MemoryError: Unable to allocate 772. MiB for an array with shape (101230332,) and data type int64

In [ ]:
df.isna.sum()