In [2]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train = pd.read_csv("train.csv")
questions = pd.read_csv("questions.csv")
lectures = pd.read_csv("lectures.csv")

# Print the shapes
train.shape, lectures.shape, questions.shape

((101230332, 10), (418, 4), (13523, 5))

In [20]:
# Copy the three dataframes

df_train = train.copy()
df_questions = questions.copy()
df_lectures = lectures.copy()

In [21]:
# Summarize the train dataset
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB

In [22]:
# Summarize the lectures dataset
df_lectures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lecture_id  418 non-null    int64
 1   tag         418 non-null    int64
 2   part        418 non-null    int64
 3   type_of     418 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.2+ KB

In [23]:
# Merge df_train and df_lectures

df_train = df_train.merge(df_lectures, how="left", 
                          left_on="content_id", right_on="lecture_id")

# Print the shape
df_train.shape

(101230332, 14)

In [24]:
# Quick summarize of df_questions
df_questions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13523 entries, 0 to 13522
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   question_id     13523 non-null  int64
 1   bundle_id       13523 non-null  int64
 2   correct_answer  13523 non-null  int64
 3   part            13523 non-null  int64
 4   tags            13522 non-null  object
dtypes: int64(4), object(1)
memory usage: 528.4+ KB

In [28]:
# Merge df_train and df_questions

df_train = df_train.merge(df_questions, how="left", 
                          left_on="content_id", right_on="question_id")

# Print the shape
df_train.shape

(101230332, 19)

In [30]:
df_train.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,lecture_id,tag,part_x,type_of,question_id,bundle_id,correct_answer,part_y,tags
0,0,0,115,5692,0,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,5692.0,5692.0,3.0,5.0,151
1,1,56943,115,5716,0,2,2,1,37000.0,False,NaN,NaN,NaN,NaN,5716.0,5716.0,2.0,5.0,168
2,2,118363,115,128,0,0,0,1,55000.0,False,NaN,NaN,NaN,NaN,128.0,128.0,0.0,1.0,131 149 92
3,3,131167,115,7860,0,3,0,1,19000.0,False,NaN,NaN,NaN,NaN,7860.0,7860.0,0.0,1.0,131 104 81
4,4,137965,115,7922,0,4,1,1,11000.0,False,NaN,NaN,NaN,NaN,7922.0,7922.0,1.0,1.0,131 149 92

In [29]:
# How many user ids?

df_train.user_id.nunique()

393656

In [31]:
# Compute how many interactions each user id has 
df_train.groupby("user_id").timestamp.count()

user_id
115            46
124            30
2746           20
5382          128
8623          112
             ...
2147470770    228
2147470777    758
2147481750     50
2147482216    280
2147482888     27
Name: timestamp, Length: 393656, dtype: int64

In [32]:
# Create a mask for user_di 115
mask115 = (df_train.user_id == 115)

# Substract user 115's data
user115 = df_train[mask115]

# Print the shape
user115.shape

(46, 19)

In [33]:
# Take a look at the train data from user 115
user115

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,lecture_id,tag,part_x,type_of,question_id,bundle_id,correct_answer,part_y,tags
0,0,0,115,5692,0,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,5692.0,5692.0,3.0,5.0,151
1,1,56943,115,5716,0,2,2,1,37000.0,False,NaN,NaN,NaN,NaN,5716.0,5716.0,2.0,5.0,168
2,2,118363,115,128,0,0,0,1,55000.0,False,NaN,NaN,NaN,NaN,128.0,128.0,0.0,1.0,131 149 92
3,3,131167,115,7860,0,3,0,1,19000.0,False,NaN,NaN,NaN,NaN,7860.0,7860.0,0.0,1.0,131 104 81
4,4,137965,115,7922,0,4,1,1,11000.0,False,NaN,NaN,NaN,NaN,7922.0,7922.0,1.0,1.0,131 149 92
5,5,157063,115,156,0,5,2,1,5000.0,False,NaN,NaN,NaN,NaN,156.0,156.0,2.0,1.0,131 101 162 38
6,6,176092,115,51,0,6,0,1,17000.0,False,NaN,NaN,NaN,NaN,51.0,51.0,0.0,1.0,131 187 81
7,7,194190,115,50,0,7,3,1,17000.0,False,NaN,NaN,NaN,NaN,50.0,50.0,3.0,1.0,131 101 38
8,8,212463,115,7896,0,8,2,1,16000.0,False,NaN,NaN,NaN,NaN,7896.0,7896.0,2.0,1.0,131 104 162 81
9,9,230983,115,7863,0,9,0,1,16000.0,False,NaN,NaN,NaN,NaN,7863.0,7863.0,0.0,1.0,131 68 92
10,10,255381,115,152,0,10,2,0,17000.0,False,NaN,NaN,NaN,NaN,152.0,152.0,1.0,1.0,131 5 162 81
11,11,280033,115,104,0,11,1,0,22000.0,False,NaN,NaN,NaN,NaN,104.0,104.0,2.0,1.0,131 93 162 81
12,12,302994,115,108,0,12,1,0,23000.0,False,NaN,NaN,NaN,NaN,108.0,108.0,3.0,1.0,131 104 92
13,13,328686,115,7900,0,13,0,1,21000.0,False,NaN,NaN,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
14,14,352686,115,7901,0,14,1,1,24000.0,False,NaN,NaN,NaN,NaN,7901.0,7901.0,1.0,1.0,131 130 92
15,15,376162,115,7971,0,15,2,1,22000.0,False,NaN,NaN,NaN,NaN,7971.0,7971.0,2.0,1.0,131 93 92
16,16,398020,115,25,0,16,1,1,21000.0,False,NaN,NaN,NaN,NaN,25.0,25.0,1.0,1.0,9 10 81
17,17,418008,115,183,0,17,0,0,20000.0,False,NaN,NaN,NaN,NaN,183.0,183.0,1.0,1.0,61 110 162 29
18,18,437272,115,7926,0,18,1,1,18000.0,False,7926.0,57.0,5.0,concept,7926.0,7926.0,1.0,1.0,9 10 92
19,19,468511,115,7927,0,19,3,1,17000.0,False,NaN,NaN,NaN,NaN,7927.0,7927.0,3.0,1.0,10 178 29
20,20,490100,115,4,0,20,1,0,29000.0,False,NaN,NaN,NaN,NaN,4.0,4.0,3.0,1.0,131 5 162 38
21,21,510583,115,7984,0,21,3,0,20000.0,False,NaN,NaN,NaN,NaN,7984.0,7984.0,0.0,1.0,131 104 81
22,22,534187,115,45,0,22,2,0,19000.0,False,NaN,NaN,NaN,NaN,45.0,45.0,1.0,1.0,10 164 162 81
23,23,557677,115,185,0,23,3,0,21000.0,False,185.0,45.0,6.0,concept,185.0,185.0,0.0,1.0,131 111 81
24,24,575289,115,55,0,24,3,1,22000.0,False,NaN,NaN,NaN,NaN,55.0,55.0,3.0,1.0,131 36 162 81
25,25,597863,115,7876,0,25,3,1,16000.0,False,NaN,NaN,NaN,NaN,7876.0,7876.0,3.0,1.0,10 94 92
26,26,621464,115,6,0,26,2,1,20000.0,False,NaN,NaN,NaN,NaN,6.0,6.0,2.0,1.0,10 94 162 92
27,27,645415,115,172,0,27,1,1,22000.0,False,NaN,NaN,NaN,NaN,172.0,172.0,1.0,1.0,10 164 81
28,28,670520,115,7898,0,28,2,1,22000.0,False,NaN,NaN,NaN,NaN,7898.0,7898.0,2.0,1.0,131 99 29
29,29,692971,115,175,0,29,0,0,23000.0,False,NaN,NaN,NaN,NaN,175.0,175.0,2.0,1.0,9 10 92
30,30,710402,115,100,0,30,0,1,20000.0,False,100.0,70.0,1.0,concept,100.0,100.0,0.0,1.0,131 5 81
31,31,732421,115,7859,0,31,3,0,15000.0,False,NaN,NaN,NaN,NaN,7859.0,7859.0,1.0,1.0,131 5 92
32,32,1219624,115,57,0,32,0,1,20000.0,False,NaN,NaN,NaN,NaN,57.0,57.0,0.0,1.0,131 93 162 29
33,33,1252621,115,7948,0,33,0,1,20000.0,True,NaN,NaN,NaN,NaN,7948.0,7948.0,0.0,1.0,131 187 29
34,34,1284094,115,151,0,34,3,1,22000.0,True,NaN,NaN,NaN,NaN,151.0,151.0,3.0,1.0,131 93 162 92
35,35,1320874,115,167,0,35,2,1,19000.0,True,NaN,NaN,NaN,NaN,167.0,167.0,2.0,1.0,131 130 162 38
36,36,1359412,115,7897,0,36,3,0,17000.0,True,NaN,NaN,NaN,NaN,7897.0,7897.0,0.0,1.0,61 110 162 92
37,37,1415188,115,7882,0,37,2,1,20000.0,True,NaN,NaN,NaN,NaN,7882.0,7882.0,2.0,1.0,51 131 102
38,38,1468285,115,7962,0,38,3,1,17000.0,True,NaN,NaN,NaN,NaN,7962.0,7962.0,3.0,1.0,51 131 92
39,39,667861680,115,1278,0,39,3,1,21000.0,False,NaN,NaN,NaN,NaN,1278.0,1278.0,3.0,2.0,143 140 81 29
40,40,667971812,115,2065,0,40,2,1,17000.0,False,NaN,NaN,NaN,NaN,2065.0,2063.0,2.0,3.0,136 162 92 29
41,41,667971812,115,2064,0,40,1,1,17000.0,False,NaN,NaN,NaN,NaN,2064.0,2063.0,1.0,3.0,157 92 29
42,42,667971812,115,2063,0,40,3,0,17000.0,False,NaN,NaN,NaN,NaN,2063.0,2063.0,0.0,3.0,136 92 29
43,43,668090043,115,3363,0,41,1,0,14333.0,False,NaN,NaN,NaN,NaN,3363.0,3363.0,3.0,4.0,74 103 29
44,44,668090043,115,3365,0,41,0,0,14333.0,False,NaN,NaN,NaN,NaN,3365.0,3363.0,2.0,4.0,136 103 29
45,45,668090043,115,3364,0,41,1,1,14333.0,False,NaN,NaN,NaN,NaN,3364.0,3363.0,1.0,4.0,136 103 29

In [34]:
# Create a mask for user_di 115
mask124 = (df_train.user_id == 124)

# Substract user 115's data
user124 = df_train[mask124]

# Print the shape
user124.shape

(30, 19)

In [35]:
user124

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,lecture_id,tag,part_x,type_of,question_id,bundle_id,correct_answer,part_y,tags
46,46,0,124,7900,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
47,47,32683,124,7876,0,1,0,0,26000.0,False,NaN,NaN,NaN,NaN,7876.0,7876.0,3.0,1.0,10 94 92
48,48,62000,124,175,0,2,2,1,29000.0,False,NaN,NaN,NaN,NaN,175.0,175.0,2.0,1.0,9 10 92
49,49,83632,124,1278,0,3,1,0,26000.0,False,NaN,NaN,NaN,NaN,1278.0,1278.0,3.0,2.0,143 140 81 29
50,50,189483,124,2064,0,4,2,0,18000.0,False,NaN,NaN,NaN,NaN,2064.0,2063.0,1.0,3.0,157 92 29
51,51,189483,124,2063,0,4,3,0,18000.0,False,NaN,NaN,NaN,NaN,2063.0,2063.0,0.0,3.0,136 92 29
52,52,189483,124,2065,0,4,2,1,18000.0,False,NaN,NaN,NaN,NaN,2065.0,2063.0,2.0,3.0,136 162 92 29
53,53,258793,124,3364,0,5,2,0,33333.0,False,NaN,NaN,NaN,NaN,3364.0,3363.0,1.0,4.0,136 103 29
54,54,258793,124,3365,0,5,3,0,33333.0,False,NaN,NaN,NaN,NaN,3365.0,3363.0,2.0,4.0,136 103 29
55,55,258793,124,3363,0,5,0,0,33333.0,False,NaN,NaN,NaN,NaN,3363.0,3363.0,3.0,4.0,74 103 29
56,56,330528,124,2948,0,6,2,0,21000.0,False,NaN,NaN,NaN,NaN,2948.0,2946.0,0.0,4.0,136 67 92
57,57,330528,124,2947,0,6,1,1,21000.0,False,NaN,NaN,NaN,NaN,2947.0,2946.0,1.0,4.0,74 67 92
58,58,330528,124,2946,0,6,1,0,21000.0,False,NaN,NaN,NaN,NaN,2946.0,2946.0,3.0,4.0,136 67 92
59,59,382790,124,2595,0,7,0,1,21666.0,False,NaN,NaN,NaN,NaN,2595.0,2593.0,0.0,4.0,82 103 102
60,60,382790,124,2593,0,7,0,0,21666.0,False,NaN,NaN,NaN,NaN,2593.0,2593.0,3.0,4.0,136 103 102
61,61,382790,124,2594,0,7,3,0,21666.0,False,NaN,NaN,NaN,NaN,2594.0,2593.0,2.0,4.0,161 103 102
62,62,419266,124,4492,0,8,3,0,15000.0,False,NaN,NaN,NaN,NaN,4492.0,4492.0,2.0,5.0,80
63,63,445527,124,4120,0,9,2,0,32000.0,False,NaN,NaN,NaN,NaN,4120.0,4120.0,0.0,5.0,123
64,64,475421,124,4696,0,10,3,0,23000.0,False,NaN,NaN,NaN,NaN,4696.0,4696.0,0.0,5.0,133
65,65,492328,124,6116,0,11,3,1,27000.0,False,NaN,NaN,NaN,NaN,6116.0,6116.0,3.0,5.0,23
66,66,513206,124,6173,0,12,1,0,14000.0,False,NaN,NaN,NaN,NaN,6173.0,6173.0,2.0,5.0,151
67,67,523644,124,6370,0,13,3,0,17000.0,False,NaN,NaN,NaN,NaN,6370.0,6370.0,2.0,5.0,79
68,68,554504,124,6909,0,14,0,1,7000.0,False,NaN,NaN,NaN,NaN,6909.0,6908.0,0.0,6.0,91
69,69,554504,124,6910,0,14,1,0,7000.0,False,NaN,NaN,NaN,NaN,6910.0,6908.0,3.0,6.0,115
70,70,554504,124,6908,0,14,2,0,7000.0,False,NaN,NaN,NaN,NaN,6908.0,6908.0,0.0,6.0,1
71,71,554504,124,6911,0,14,2,0,7000.0,False,NaN,NaN,NaN,NaN,6911.0,6908.0,3.0,6.0,27
72,72,571323,124,7218,0,15,3,0,6500.0,False,NaN,NaN,NaN,NaN,7218.0,7216.0,2.0,7.0,50 18 21
73,73,571323,124,7216,0,15,0,0,6500.0,False,NaN,NaN,NaN,NaN,7216.0,7216.0,3.0,7.0,97 50 21
74,74,571323,124,7217,0,15,3,0,6500.0,False,NaN,NaN,NaN,NaN,7217.0,7216.0,2.0,7.0,50 118 21
75,75,571323,124,7219,0,15,1,0,6500.0,False,NaN,NaN,NaN,NaN,7219.0,7216.0,2.0,7.0,50 19 21