In [16]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import collections
import numpy as np

from prepare import prep_riiid

### Split data set work

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

def rfe_ranker(train):
    """
    Accepts dataframe. Uses Recursive Feature Elimination to rank the given df's features in order of their usefulness in
    predicting logerror with a logistic regression model.
    """
    non_target_vars = ['prior_question_had_explanation', 'user_acc_mean',
       'mean_content_accuracy', 'mean_task_accuracy',
       'mean_timestamp_accuracy_scaled', 'mean_priortime_accuracy_scaled',
       'user_lectures_running_total_scaled', 'avg_user_q_time_scaled']
    
    target_var = ['answered_correctly']
    
    # creating logistic regression object
    lr = LogisticRegression()

    # fitting logistic regression model to features 
    lr.fit(train[non_target_vars], train[target_var])

    # creating recursive feature elimination object and specifying to only rank 1 feature as best
    rfe = RFE(lr, 1)

    # using rfe object to transform features 
    x_rfe = rfe.fit_transform(train[non_target_vars], train[target_var])

    # creating mask of selected feature
    feature_mask = rfe.support_

    # creating train df for rfe object 
    rfe_train = train[non_target_vars]

    # creating list of the top features per rfe
    rfe_features = rfe_train.loc[:,feature_mask].columns.tolist()

    # creating ranked list 
    feature_ranks = rfe.ranking_

    # creating list of feature names
    feature_names = rfe_train.columns.tolist()

    # create df that contains all features and their ranks
    rfe_ranks_df = pd.DataFrame({'Feature': feature_names, 'Rank': feature_ranks})

    # return df sorted by rank
    return rfe_ranks_df.sort_values('Rank')

In [18]:
train = pd.read_csv('train.csv')
validate = pd.read_csv('validate.csv')
test = pd.read_csv('test.csv')

In [19]:
train, validate, test, train_s, validate_s, test_s = prep_riiid(train, validate, test)

In [34]:
rfe_ranker(train_s)

                              Feature  Rank
2               mean_content_accuracy     1
1                       user_acc_mean     2
3                  mean_task_accuracy     3
7              avg_user_q_time_scaled     4
0      prior_question_had_explanation     5
4      mean_timestamp_accuracy_scaled     6
6  user_lectures_running_total_scaled     7
5      mean_priortime_accuracy_scaled     8

In [30]:
validate.columns

Index(['answered_correctly', 'prior_question_had_explanation', 'user_acc_mean',
       'user_lectures_running_total', 'avg_user_q_time',
       'mean_content_accuracy', 'mean_task_accuracy',
       'mean_timestamp_accuracy', 'mean_priortime_accuracy'],
      dtype='object')

In [32]:
train_s.columns

Index(['answered_correctly', 'prior_question_had_explanation', 'user_acc_mean',
       'mean_content_accuracy', 'mean_task_accuracy',
       'mean_timestamp_accuracy_scaled', 'mean_priortime_accuracy_scaled',
       'user_lectures_running_total_scaled', 'avg_user_q_time_scaled'],
      dtype='object')

['prior_question_had_explanation', 'user_acc_mean',
       'user_lectures_running_total', 'avg_user_q_time',
       'mean_content_accuracy', 'mean_task_accuracy',
       'mean_timestamp_accuracy', 'mean_priortime_accuracy']

## Updated sample set work

In [2]:
dfst = pd.read_csv('sampled_trainset.csv')

In [10]:
dfst[dfst.user_id == 1864702].head(50)

,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,lecture_id,tag,lecture_part,type_of,question_id,bundle_id,correct_answer,question_part,tags
0,0,1864702,5720,0,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,5720.0,5720.0,1.0,5.0,115
1,45951,1864702,5204,0,1,1,0,inf,False,NaN,NaN,NaN,NaN,5204.0,5204.0,3.0,5.0,173
2,74342,1864702,4094,0,2,1,1,43000.0,False,NaN,NaN,NaN,NaN,4094.0,4094.0,1.0,5.0,1
3,96778,1864702,9699,0,3,0,1,25000.0,False,NaN,NaN,NaN,NaN,9699.0,9699.0,0.0,5.0,55
4,132969,1864702,5889,0,4,2,0,19000.0,False,NaN,NaN,NaN,NaN,5889.0,5889.0,3.0,5.0,89
5,157291,1864702,5592,0,5,3,0,33000.0,False,NaN,NaN,NaN,NaN,5592.0,5592.0,0.0,5.0,7
6,196365,1864702,3603,0,6,0,0,22000.0,False,NaN,NaN,NaN,NaN,3603.0,3603.0,1.0,5.0,166
7,579792,1864702,236,0,7,3,1,36000.0,False,NaN,NaN,NaN,NaN,236.0,236.0,3.0,2.0,129 17 56 38 102
8,632523,1864702,824,0,8,1,0,23000.0,True,NaN,NaN,NaN,NaN,824.0,824.0,0.0,2.0,17 56 81 92
9,671867,1864702,739,0,9,0,1,26000.0,True,NaN,NaN,NaN,NaN,739.0,739.0,0.0,2.0,143 20 38 81
10,714483,1864702,10686,0,10,0,1,17000.0,True,NaN,NaN,NaN,NaN,10686.0,10686.0,0.0,2.0,62 137 142 38 29
11,748619,1864702,766,0,11,0,0,20000.0,True,NaN,NaN,NaN,NaN,766.0,766.0,3.0,2.0,143 105 38 92
12,784999,1864702,484,0,12,0,1,12000.0,True,484.0,-77.0,5.0,concept,484.0,484.0,0.0,2.0,62 155 163 81 29
13,818796,1864702,951,0,13,1,0,16000.0,True,NaN,NaN,NaN,NaN,951.0,951.0,0.0,2.0,143 140 6 81 92
14,860892,1864702,10684,0,14,3,0,14000.0,True,NaN,NaN,NaN,NaN,10684.0,10684.0,0.0,2.0,62 137 142 92 29
15,903697,1864702,438,0,15,1,0,22000.0,True,NaN,NaN,NaN,NaN,438.0,438.0,3.0,2.0,137 142 92 102
16,939808,1864702,1194,0,16,1,0,21000.0,True,NaN,NaN,NaN,NaN,1194.0,1194.0,3.0,2.0,90 100 38 29
17,1142732,1864702,21852,1,17,-1,-1,NaN,False,21852.0,17.0,2.0,concept,NaN,NaN,NaN,NaN,NaN
18,1169949,1864702,824,0,18,0,1,17000.0,True,NaN,NaN,NaN,NaN,824.0,824.0,0.0,2.0,17 56 81 92
19,70707333,1864702,5577,0,19,3,1,17000.0,True,NaN,NaN,NaN,NaN,5577.0,5577.0,3.0,5.0,91
20,70910569,1864702,4766,0,20,0,1,21000.0,True,NaN,NaN,NaN,NaN,4766.0,4766.0,0.0,5.0,127
21,71088879,1864702,3968,0,21,1,0,49000.0,True,NaN,NaN,NaN,NaN,3968.0,3968.0,2.0,5.0,1
22,71132338,1864702,9670,0,22,2,1,26000.0,True,NaN,NaN,NaN,NaN,9670.0,9670.0,2.0,5.0,96
23,71165286,1864702,6442,0,23,0,0,26000.0,True,NaN,NaN,NaN,NaN,6442.0,6442.0,1.0,5.0,174
24,73908697,1864702,4837,0,24,2,0,13000.0,True,NaN,NaN,NaN,NaN,4837.0,4837.0,0.0,5.0,1
25,74225765,1864702,26516,1,26,-1,-1,NaN,False,26516.0,1.0,5.0,concept,NaN,NaN,NaN,NaN,NaN
26,74254937,1864702,4837,0,27,0,1,15000.0,True,NaN,NaN,NaN,NaN,4837.0,4837.0,0.0,5.0,1
27,74287868,1864702,3968,0,28,2,1,18000.0,True,NaN,NaN,NaN,NaN,3968.0,3968.0,2.0,5.0,1
28,74330626,1864702,5540,0,25,0,0,16000.0,True,NaN,NaN,NaN,NaN,5540.0,5540.0,1.0,5.0,66
29,74378002,1864702,9545,0,29,3,0,22000.0,True,NaN,NaN,NaN,NaN,9545.0,9545.0,2.0,5.0,73
30,74412969,1864702,4416,0,30,1,1,14000.0,True,NaN,NaN,NaN,NaN,4416.0,4416.0,1.0,5.0,115
31,74449241,1864702,5667,0,31,0,1,7000.0,True,NaN,NaN,NaN,NaN,5667.0,5667.0,0.0,5.0,116
32,74499434,1864702,6425,0,32,2,1,17000.0,True,NaN,NaN,NaN,NaN,6425.0,6425.0,2.0,5.0,65
33,74546502,1864702,9996,0,33,2,1,25000.0,True,NaN,NaN,NaN,NaN,9996.0,9996.0,2.0,5.0,79
34,74618132,1864702,4465,0,34,0,0,24000.0,True,NaN,NaN,NaN,NaN,4465.0,4465.0,3.0,5.0,108
35,74696544,1864702,5348,0,35,2,0,41000.0,True,NaN,NaN,NaN,NaN,5348.0,5348.0,3.0,5.0,179
36,74754562,1864702,9284,0,36,3,0,44000.0,True,NaN,NaN,NaN,NaN,9284.0,9284.0,0.0,5.0,7
37,74871425,1864702,7997,0,37,1,1,29000.0,True,NaN,NaN,NaN,NaN,7997.0,7997.0,1.0,5.0,52
38,74921787,1864702,3704,0,38,3,1,inf,True,NaN,NaN,NaN,NaN,3704.0,3704.0,3.0,5.0,60
39,74949015,1864702,6087,0,39,3,0,31000.0,True,NaN,NaN,NaN,NaN,6087.0,6087.0,0.0,5.0,34
40,75056603,1864702,52,0,40,1,0,13000.0,True,NaN,NaN,NaN,NaN,52.0,52.0,3.0,1.0,131 99 92
41,75236897,1864702,10540,1,42,-1,-1,NaN,False,10540.0,99.0,1.0,concept,10540.0,10540.0,3.0,1.0,131 101 81
42,75260428,1864702,52,0,43,3,1,20000.0,True,NaN,NaN,NaN,NaN,52.0,52.0,3.0,1.0,131 99 92
43,75302360,1864702,10,0,41,0,1,19000.0,True,NaN,NaN,NaN,NaN,10.0,10.0,0.0,1.0,131 36 38
44,75348723,1864702,194,0,44,3,1,24000.0,True,NaN,NaN,NaN,NaN,194.0,194.0,3.0,1.0,61 110 102
45,75396109,1864702,10446,0,45,0,1,19000.0,True,NaN,NaN,NaN,NaN,10446.0,10446.0,0.0,1.0,131 149 29
46,75445383,1864702,7972,0,46,1,1,21000.0,True,NaN,NaN,NaN,NaN,7972.0,7972.0,1.0,1.0,10 70 29
47,75490903,1864702,7915,0,47,1,1,22000.0,True,NaN,NaN,NaN,NaN,7915.0,7915.0,1.0,1.0,10 94 38
48,75545362,1864702,69,0,48,3,0,21000.0,True,NaN,NaN,NaN,NaN,69.0,69.0,2.0,1.0,9 10 38
49,75600629,1864702,10595,0,49,3,0,27000.0,True,NaN,NaN,NaN,NaN,10595.0,10595.0,2.0,1.0,131 68 92

In [5]:
dfst[dfst.prior_question_elapsed_time == np.inf]

,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,lecture_id,tag,lecture_part,type_of,question_id,bundle_id,correct_answer,question_part,tags
1,45951,1864702,5204,0,1,1,0,inf,False,NaN,NaN,NaN,NaN,5204.0,5204.0,3.0,5.0,173
38,74921787,1864702,3704,0,38,3,1,inf,True,NaN,NaN,NaN,NaN,3704.0,3704.0,3.0,5.0,60
261,397232836,1864702,6626,0,211,3,1,inf,True,NaN,NaN,NaN,NaN,6626.0,6625.0,3.0,6.0,53
262,397232836,1864702,6627,0,211,1,1,inf,True,NaN,NaN,NaN,NaN,6627.0,6625.0,1.0,6.0,179
263,397232836,1864702,6625,0,211,0,1,inf,True,NaN,NaN,NaN,NaN,6625.0,6625.0,0.0,6.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411474,3076575081,2145030352,7286,0,581,1,1,inf,True,NaN,NaN,NaN,NaN,7286.0,7283.0,1.0,7.0,97 37 21
411475,3076575081,2145030352,7283,0,581,3,1,inf,True,NaN,NaN,NaN,NaN,7283.0,7283.0,3.0,7.0,37 153 21
411481,3094536898,2145030352,9798,0,587,3,1,inf,True,NaN,NaN,NaN,NaN,9798.0,9798.0,3.0,5.0,73
411482,3094632067,2145030352,4529,0,588,1,1,inf,True,NaN,NaN,NaN,NaN,4529.0,4529.0,1.0,5.0,166
411483,3094742165,2145030352,5360,0,589,3,1,inf,True,NaN,NaN,NaN,NaN,5360.0,5360.0,3.0,5.0,79

## Train1000 Dataset Work

In [3]:
train = pd.read_csv('train1000.csv')

Features engineering - Part 1: how to measure the historical performance for each user 

mean user accuracy

how many lectures they have been reviewed

mean time to answer each question

mean time to answer the prior question

whether prior question had been explained or not

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296615 entries, 0 to 296614
Data columns (total 10 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   user_id                         296615 non-null  int64
 1   row_id                          296615 non-null  int64
 2   timestamp                       296615 non-null  int64
 3   content_id                      296615 non-null  int64
 4   content_type_id                 296615 non-null  int64
 5   task_container_id               296615 non-null  int64
 6   user_answer                     296615 non-null  int64
 7   answered_correctly              296615 non-null  int64
 8   prior_question_elapsed_time     289945 non-null  float64
 9   prior_question_had_explanation  295617 non-null  object
dtypes: float64(1), int64(8), object(1)
memory usage: 22.6+ MB

In [8]:
train[train.prior_question_elapsed_time.isnull()]

,user_id,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,115,0,0,5692,0,1,3,1,NaN,NaN
46,124,46,0,7900,0,0,0,1,NaN,NaN
76,2746,76,0,5273,0,0,1,0,NaN,NaN
89,2746,89,653762,6808,1,14,-1,-1,NaN,False
96,5382,96,0,5000,0,0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
296498,5566848,296498,162115714,32168,1,21,-1,-1,NaN,False
296509,5568049,296509,0,6028,0,0,3,0,NaN,NaN
296537,5568049,296537,7746409318,24250,1,20,-1,-1,NaN,False
296586,5571864,296586,0,4205,0,0,1,1,NaN,NaN
296603,5577726,296603,0,6442,0,0,0,0,NaN,NaN

## Create mean user accuracy column

In [31]:
user_acc_mean = pd.DataFrame(train.groupby('user_id')['answered_correctly'].mean())

user_acc_mean.columns = ['user_acc_mean']

user_acc_mean.head()

         user_acc_mean
user_id
115           0.695652
124           0.233333
2746          0.500000
5382          0.632812
8623          0.598214

In [32]:
train1 = train.merge(user_acc_mean, how='left', left_on='user_id', right_on='user_id')

train1

,user_id,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,user_acc_mean
0,115,0,0,5692,0,1,3,1,NaN,NaN,0.695652
1,115,1,56943,5716,0,2,2,1,37000.0,False,0.695652
2,115,2,118363,128,0,0,0,1,55000.0,False,0.695652
3,115,3,131167,7860,0,3,0,1,19000.0,False,0.695652
4,115,4,137965,7922,0,4,1,1,11000.0,False,0.695652
...,...,...,...,...,...,...,...,...,...,...,...
296610,5577726,296610,625311764,5328,0,7,0,0,20000.0,False,0.416667
296611,5577726,296611,625327721,4303,0,8,3,0,10000.0,True,0.416667
296612,5577726,296612,625344560,4445,0,9,0,1,6000.0,True,0.416667
296613,5577726,296613,625367161,5206,0,10,1,0,6000.0,True,0.416667
296614,5577726,296614,625378759,3928,0,11,0,0,13000.0,True,0.416667

## Create lecture view count column

In [33]:
train['user_lectures_rt'] = train.groupby(by=['user_id'])['content_type_id'].transform(lambda x: x.cumsum())

In [34]:
train.head(50)

,user_id,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,user_lectures_rt
0,115,0,0,5692,0,1,3,1,NaN,NaN,0
1,115,1,56943,5716,0,2,2,1,37000.0,False,0
2,115,2,118363,128,0,0,0,1,55000.0,False,0
3,115,3,131167,7860,0,3,0,1,19000.0,False,0
4,115,4,137965,7922,0,4,1,1,11000.0,False,0
5,115,5,157063,156,0,5,2,1,5000.0,False,0
6,115,6,176092,51,0,6,0,1,17000.0,False,0
7,115,7,194190,50,0,7,3,1,17000.0,False,0
8,115,8,212463,7896,0,8,2,1,16000.0,False,0
9,115,9,230983,7863,0,9,0,1,16000.0,False,0
10,115,10,255381,152,0,10,2,0,17000.0,False,0
11,115,11,280033,104,0,11,1,0,22000.0,False,0
12,115,12,302994,108,0,12,1,0,23000.0,False,0
13,115,13,328686,7900,0,13,0,1,21000.0,False,0
14,115,14,352686,7901,0,14,1,1,24000.0,False,0
15,115,15,376162,7971,0,15,2,1,22000.0,False,0
16,115,16,398020,25,0,16,1,1,21000.0,False,0
17,115,17,418008,183,0,17,0,0,20000.0,False,0
18,115,18,437272,7926,0,18,1,1,18000.0,False,0
19,115,19,468511,7927,0,19,3,1,17000.0,False,0
20,115,20,490100,4,0,20,1,0,29000.0,False,0
21,115,21,510583,7984,0,21,3,0,20000.0,False,0
22,115,22,534187,45,0,22,2,0,19000.0,False,0
23,115,23,557677,185,0,23,3,0,21000.0,False,0
24,115,24,575289,55,0,24,3,1,22000.0,False,0
25,115,25,597863,7876,0,25,3,1,16000.0,False,0
26,115,26,621464,6,0,26,2,1,20000.0,False,0
27,115,27,645415,172,0,27,1,1,22000.0,False,0
28,115,28,670520,7898,0,28,2,1,22000.0,False,0
29,115,29,692971,175,0,29,0,0,23000.0,False,0
30,115,30,710402,100,0,30,0,1,20000.0,False,0
31,115,31,732421,7859,0,31,3,0,15000.0,False,0
32,115,32,1219624,57,0,32,0,1,20000.0,False,0
33,115,33,1252621,7948,0,33,0,1,20000.0,True,0
34,115,34,1284094,151,0,34,3,1,22000.0,True,0
35,115,35,1320874,167,0,35,2,1,19000.0,True,0
36,115,36,1359412,7897,0,36,3,0,17000.0,True,0
37,115,37,1415188,7882,0,37,2,1,20000.0,True,0
38,115,38,1468285,7962,0,38,3,1,17000.0,True,0
39,115,39,667861680,1278,0,39,3,1,21000.0,False,0
40,115,40,667971812,2065,0,40,2,1,17000.0,False,0
41,115,41,667971812,2064,0,40,1,1,17000.0,False,0
42,115,42,667971812,2063,0,40,3,0,17000.0,False,0
43,115,43,668090043,3363,0,41,1,0,14333.0,False,0
44,115,44,668090043,3365,0,41,0,0,14333.0,False,0
45,115,45,668090043,3364,0,41,1,1,14333.0,False,0
46,124,46,0,7900,0,0,0,1,NaN,NaN,0
47,124,47,32683,7876,0,1,0,0,26000.0,False,0
48,124,48,62000,175,0,2,2,1,29000.0,False,0
49,124,49,83632,1278,0,3,1,0,26000.0,False,0

## Create time to answer prior question column

In [35]:
lastq = pd.DataFrame(train.timestamp.diff())

lastq.columns = ['last_q_time']

lastq.fillna(0)

train = pd.concat([train, lastq], axis=1)

In [36]:
train['last_q_time'] = np.where((train.last_q_time.isnull()), 0, train.last_q_time)
train['last_q_time'] = np.where((train.last_q_time < 0), 0, train.last_q_time)

In [37]:
# set to loop number of times == largest number of questions in bundle
train['last_q_time'] = np.where((train.last_q_time ==  0) & 
                                (train.prior_question_elapsed_time.isnull() != True), 
                                train.last_q_time.shift(1), train.last_q_time)

In [38]:
train.head(50)

,user_id,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,user_lectures_rt,last_q_time
0,115,0,0,5692,0,1,3,1,NaN,NaN,0,0.0
1,115,1,56943,5716,0,2,2,1,37000.0,False,0,56943.0
2,115,2,118363,128,0,0,0,1,55000.0,False,0,61420.0
3,115,3,131167,7860,0,3,0,1,19000.0,False,0,12804.0
4,115,4,137965,7922,0,4,1,1,11000.0,False,0,6798.0
5,115,5,157063,156,0,5,2,1,5000.0,False,0,19098.0
6,115,6,176092,51,0,6,0,1,17000.0,False,0,19029.0
7,115,7,194190,50,0,7,3,1,17000.0,False,0,18098.0
8,115,8,212463,7896,0,8,2,1,16000.0,False,0,18273.0
9,115,9,230983,7863,0,9,0,1,16000.0,False,0,18520.0
10,115,10,255381,152,0,10,2,0,17000.0,False,0,24398.0
11,115,11,280033,104,0,11,1,0,22000.0,False,0,24652.0
12,115,12,302994,108,0,12,1,0,23000.0,False,0,22961.0
13,115,13,328686,7900,0,13,0,1,21000.0,False,0,25692.0
14,115,14,352686,7901,0,14,1,1,24000.0,False,0,24000.0
15,115,15,376162,7971,0,15,2,1,22000.0,False,0,23476.0
16,115,16,398020,25,0,16,1,1,21000.0,False,0,21858.0
17,115,17,418008,183,0,17,0,0,20000.0,False,0,19988.0
18,115,18,437272,7926,0,18,1,1,18000.0,False,0,19264.0
19,115,19,468511,7927,0,19,3,1,17000.0,False,0,31239.0
20,115,20,490100,4,0,20,1,0,29000.0,False,0,21589.0
21,115,21,510583,7984,0,21,3,0,20000.0,False,0,20483.0
22,115,22,534187,45,0,22,2,0,19000.0,False,0,23604.0
23,115,23,557677,185,0,23,3,0,21000.0,False,0,23490.0
24,115,24,575289,55,0,24,3,1,22000.0,False,0,17612.0
25,115,25,597863,7876,0,25,3,1,16000.0,False,0,22574.0
26,115,26,621464,6,0,26,2,1,20000.0,False,0,23601.0
27,115,27,645415,172,0,27,1,1,22000.0,False,0,23951.0
28,115,28,670520,7898,0,28,2,1,22000.0,False,0,25105.0
29,115,29,692971,175,0,29,0,0,23000.0,False,0,22451.0
30,115,30,710402,100,0,30,0,1,20000.0,False,0,17431.0
31,115,31,732421,7859,0,31,3,0,15000.0,False,0,22019.0
32,115,32,1219624,57,0,32,0,1,20000.0,False,0,487203.0
33,115,33,1252621,7948,0,33,0,1,20000.0,True,0,32997.0
34,115,34,1284094,151,0,34,3,1,22000.0,True,0,31473.0
35,115,35,1320874,167,0,35,2,1,19000.0,True,0,36780.0
36,115,36,1359412,7897,0,36,3,0,17000.0,True,0,38538.0
37,115,37,1415188,7882,0,37,2,1,20000.0,True,0,55776.0
38,115,38,1468285,7962,0,38,3,1,17000.0,True,0,53097.0
39,115,39,667861680,1278,0,39,3,1,21000.0,False,0,666393395.0
40,115,40,667971812,2065,0,40,2,1,17000.0,False,0,110132.0
41,115,41,667971812,2064,0,40,1,1,17000.0,False,0,110132.0
42,115,42,667971812,2063,0,40,3,0,17000.0,False,0,0.0
43,115,43,668090043,3363,0,41,1,0,14333.0,False,0,118231.0
44,115,44,668090043,3365,0,41,0,0,14333.0,False,0,118231.0
45,115,45,668090043,3364,0,41,1,1,14333.0,False,0,0.0
46,124,46,0,7900,0,0,0,1,NaN,NaN,0,0.0
47,124,47,32683,7876,0,1,0,0,26000.0,False,0,32683.0
48,124,48,62000,175,0,2,2,1,29000.0,False,0,29317.0
49,124,49,83632,1278,0,3,1,0,26000.0,False,0,21632.0

## Average time to answer question

In [39]:
avg_q_time_user = pd.DataFrame(train.groupby('user_id').mean().round()['last_q_time'])

avg_q_time_user.columns = ['avg_q_time_user']

avg_q_time_user

         avg_q_time_user
user_id
115           14528661.0
124              30605.0
2746             41773.0
5382          16418371.0
8623           9222170.0
...                  ...
5555086          84391.0
5566848      102265390.0
5568049      101314683.0
5571864          34568.0
5577726       52114897.0

[1000 rows x 1 columns]

In [40]:
train2 = train.merge(avg_q_time_user, how='left', left_on='user_id', right_on='user_id')

In [41]:
train2.head(100)

,user_id,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,user_lectures_rt,last_q_time,avg_q_time_user
0,115,0,0,5692,0,1,3,1,NaN,NaN,0,0.0,14528661.0
1,115,1,56943,5716,0,2,2,1,37000.0,False,0,56943.0,14528661.0
2,115,2,118363,128,0,0,0,1,55000.0,False,0,61420.0,14528661.0
3,115,3,131167,7860,0,3,0,1,19000.0,False,0,12804.0,14528661.0
4,115,4,137965,7922,0,4,1,1,11000.0,False,0,6798.0,14528661.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2746,95,835457,484,0,19,0,1,20000.0,True,1,35202.0,41773.0
96,5382,96,0,5000,0,0,0,1,NaN,NaN,0,0.0,16418371.0
97,5382,97,39828,3944,0,1,1,0,24000.0,False,0,39828.0,16418371.0
98,5382,98,132189,217,0,2,0,1,35000.0,False,0,92361.0,16418371.0
99,5382,99,153727,5844,0,3,1,0,88000.0,False,0,21538.0,16418371.0

## Creating function containing all feature engineering above

In [44]:
def sam_train_features(df):
    
    # average user accuracy
    user_acc_mean = pd.DataFrame(df.groupby('user_id')['answered_correctly'].mean())
    user_acc_mean.columns = ['user_acc_mean']
    df = df.merge(user_acc_mean, how = 'left', left_on = 'user_id', right_on = 'user_id')
    
    # running count of lectures viewed per user
    df['user_lectures_running_total'] = df.groupby(by=['user_id'])['content_type_id'].transform(lambda x: x.cumsum())
    
    # time taken to answer previous question
    lastq = pd.DataFrame(df.timestamp.diff())

    lastq.columns = ['last_q_time']

    lastq.fillna(0)

    df = pd.concat([df, lastq], axis=1)
    
    df['last_q_time'] = np.where((df.last_q_time.isnull()), 0, df.last_q_time)
    df['last_q_time'] = np.where((df.last_q_time < 0), 0, df.last_q_time)
    
    for x in range(0,5):
    # set to loop number of times == largest count of questions in bundle
        df['last_q_time'] = np.where((df.last_q_time ==  0) & (df.prior_question_elapsed_time.isnull() != True), df.last_q_time.shift(1), df.last_q_time)
    
    # avg time each user takes a question
    avg_q_time_user = pd.DataFrame(df.groupby('user_id').mean().round()['last_q_time'])
    
    avg_q_time_user.columns = ['avg_user_q_time']
    
    df = df.merge(avg_q_time_user, how='left', left_on='user_id', right_on='user_id')
    
    return df

In [45]:
def sam_valtest_features(df, val_or_test):
    
    # average user accuracy
    user_acc_mean = pd.DataFrame(df.groupby('user_id')['answered_correctly'].mean())
    user_acc_mean.columns = ['user_acc_mean']
    val_or_test = val_or_test.merge(user_acc_mean, how = 'left', left_on = 'user_id', right_on = 'user_id')
    
    # running count of lectures viewed per user
    val_or_test['user_lectures_running_total'] = val_or_test.groupby(by=['user_id'])['content_type_id'].transform(lambda x: x.cumsum())
    
    # time taken to answer previous question
    lastq = pd.DataFrame(df.timestamp.diff())

    lastq.columns = ['last_q_time']

    lastq.fillna(0)

    df = pd.concat([df, lastq], axis=1)
    
    df['last_q_time'] = np.where((df.last_q_time.isnull()), 0, df.last_q_time)
    df['last_q_time'] = np.where((df.last_q_time < 0), 0, df.last_q_time)
    
    for x in range(0,5):
    # set to loop number of times == largest count of questions in bundle
        df['last_q_time'] = np.where((df.last_q_time ==  0) & (df.prior_question_elapsed_time.isnull() != True), df.last_q_time.shift(1), df.last_q_time)
    
    # avg time each user takes a question
    avg_q_time_user = pd.DataFrame(df.groupby('user_id').mean().round()['last_q_time'])
    
    avg_q_time_user.columns = ['avg_user_q_time']
    
    val_or_test = val_or_test.merge(avg_q_time_user, how='left', left_on='user_id', right_on='user_id')
    
    return val_or_test

In [46]:
val = train.copy()

In [47]:
def sam_valtest_features(df, val_or_test):
    
    # average user accuracy
    user_acc_mean = pd.DataFrame(df.groupby('user_id')['answered_correctly'].mean())
    user_acc_mean.columns = ['user_acc_mean']
    val_or_test = val_or_test.merge(user_acc_mean, how = 'left', left_on = 'user_id', right_on = 'user_id')
    
    # running count of lectures viewed per user
    val_or_test['user_lectures_running_total'] = val_or_test.groupby(by=['user_id'])['content_type_id'].transform(lambda x: x.cumsum())
    
    # time taken to answer previous question
    lastq = pd.DataFrame(df.timestamp.diff())

    lastq.columns = ['last_q_time']

    lastq.fillna(0)

    df = pd.concat([df, lastq], axis=1)
    
    df['last_q_time'] = np.where((df.last_q_time.isnull()), 0, df.last_q_time)
    df['last_q_time'] = np.where((df.last_q_time < 0), 0, df.last_q_time)
    
    for x in range(0,5):
    # set to loop number of times == largest count of questions in bundle
        df['last_q_time'] = np.where((df.last_q_time ==  0) & (df.prior_question_elapsed_time.isnull() != True), df.last_q_time.shift(1), df.last_q_time)
    
    # avg time each user takes a question
    avg_q_time_user = pd.DataFrame(df.groupby('user_id').mean().round()['last_q_time'])
    
    avg_q_time_user.columns = ['avg_user_q_time']
    
    val_or_test = val_or_test.merge(avg_q_time_user, how='left', left_on='user_id', right_on='user_id')
    
    return val_or_test

In [50]:
train1

,user_id,row_id,timestamp,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,user_acc_mean
0,115,0,0,5692,0,1,3,1,NaN,NaN,0.695652
1,115,1,56943,5716,0,2,2,1,37000.0,False,0.695652
2,115,2,118363,128,0,0,0,1,55000.0,False,0.695652
3,115,3,131167,7860,0,3,0,1,19000.0,False,0.695652
4,115,4,137965,7922,0,4,1,1,11000.0,False,0.695652
...,...,...,...,...,...,...,...,...,...,...,...
296610,5577726,296610,625311764,5328,0,7,0,0,20000.0,False,0.416667
296611,5577726,296611,625327721,4303,0,8,3,0,10000.0,True,0.416667
296612,5577726,296612,625344560,4445,0,9,0,1,6000.0,True,0.416667
296613,5577726,296613,625367161,5206,0,10,1,0,6000.0,True,0.416667
296614,5577726,296614,625378759,3928,0,11,0,0,13000.0,True,0.416667

## Code prior to local file acquire method

In [24]:
len(train[(train.user_id == 115) & (train.answered_correctly == 1)])

32

In [25]:
len(train[(train.user_id == 115) & (train.answered_correctly == 0)])

14

In [28]:
train[train.user_id == 115].shape

(46, 10)

In [30]:
32/46

0.6956521739130435

In [3]:
df_train = pd.read_csv('train.csv')
df_lectures = pd.read_csv('lectures.csv')
df_questions = pd.read_csv('questions.csv')

In [3]:
df_train.shape

(101230332, 10)

In [4]:
df_train.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False

In [5]:
df_lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [6]:
df_questions.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [7]:
df_merge_1 = df_train.merge(df_questions, how='left', left_on='content_id', right_on='question_id')

In [8]:
df_merge_1.shape

(101230332, 15)

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101230332 entries, 0 to 101230331
Data columns (total 10 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
dtypes: float64(1), int64(8), object(1)
memory usage: 7.5+ GB

In [10]:
df_merge_1[df_merge_1.user_id == 115]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part,tags
0,0,0,115,5692,0,1,3,1,NaN,NaN,5692.0,5692.0,3.0,5.0,151
1,1,56943,115,5716,0,2,2,1,37000.0,False,5716.0,5716.0,2.0,5.0,168
2,2,118363,115,128,0,0,0,1,55000.0,False,128.0,128.0,0.0,1.0,131 149 92
3,3,131167,115,7860,0,3,0,1,19000.0,False,7860.0,7860.0,0.0,1.0,131 104 81
4,4,137965,115,7922,0,4,1,1,11000.0,False,7922.0,7922.0,1.0,1.0,131 149 92
5,5,157063,115,156,0,5,2,1,5000.0,False,156.0,156.0,2.0,1.0,131 101 162 38
6,6,176092,115,51,0,6,0,1,17000.0,False,51.0,51.0,0.0,1.0,131 187 81
7,7,194190,115,50,0,7,3,1,17000.0,False,50.0,50.0,3.0,1.0,131 101 38
8,8,212463,115,7896,0,8,2,1,16000.0,False,7896.0,7896.0,2.0,1.0,131 104 162 81
9,9,230983,115,7863,0,9,0,1,16000.0,False,7863.0,7863.0,0.0,1.0,131 68 92
10,10,255381,115,152,0,10,2,0,17000.0,False,152.0,152.0,1.0,1.0,131 5 162 81
11,11,280033,115,104,0,11,1,0,22000.0,False,104.0,104.0,2.0,1.0,131 93 162 81
12,12,302994,115,108,0,12,1,0,23000.0,False,108.0,108.0,3.0,1.0,131 104 92
13,13,328686,115,7900,0,13,0,1,21000.0,False,7900.0,7900.0,0.0,1.0,131 93 81
14,14,352686,115,7901,0,14,1,1,24000.0,False,7901.0,7901.0,1.0,1.0,131 130 92
15,15,376162,115,7971,0,15,2,1,22000.0,False,7971.0,7971.0,2.0,1.0,131 93 92
16,16,398020,115,25,0,16,1,1,21000.0,False,25.0,25.0,1.0,1.0,9 10 81
17,17,418008,115,183,0,17,0,0,20000.0,False,183.0,183.0,1.0,1.0,61 110 162 29
18,18,437272,115,7926,0,18,1,1,18000.0,False,7926.0,7926.0,1.0,1.0,9 10 92
19,19,468511,115,7927,0,19,3,1,17000.0,False,7927.0,7927.0,3.0,1.0,10 178 29
20,20,490100,115,4,0,20,1,0,29000.0,False,4.0,4.0,3.0,1.0,131 5 162 38
21,21,510583,115,7984,0,21,3,0,20000.0,False,7984.0,7984.0,0.0,1.0,131 104 81
22,22,534187,115,45,0,22,2,0,19000.0,False,45.0,45.0,1.0,1.0,10 164 162 81
23,23,557677,115,185,0,23,3,0,21000.0,False,185.0,185.0,0.0,1.0,131 111 81
24,24,575289,115,55,0,24,3,1,22000.0,False,55.0,55.0,3.0,1.0,131 36 162 81
25,25,597863,115,7876,0,25,3,1,16000.0,False,7876.0,7876.0,3.0,1.0,10 94 92
26,26,621464,115,6,0,26,2,1,20000.0,False,6.0,6.0,2.0,1.0,10 94 162 92
27,27,645415,115,172,0,27,1,1,22000.0,False,172.0,172.0,1.0,1.0,10 164 81
28,28,670520,115,7898,0,28,2,1,22000.0,False,7898.0,7898.0,2.0,1.0,131 99 29
29,29,692971,115,175,0,29,0,0,23000.0,False,175.0,175.0,2.0,1.0,9 10 92
30,30,710402,115,100,0,30,0,1,20000.0,False,100.0,100.0,0.0,1.0,131 5 81
31,31,732421,115,7859,0,31,3,0,15000.0,False,7859.0,7859.0,1.0,1.0,131 5 92
32,32,1219624,115,57,0,32,0,1,20000.0,False,57.0,57.0,0.0,1.0,131 93 162 29
33,33,1252621,115,7948,0,33,0,1,20000.0,True,7948.0,7948.0,0.0,1.0,131 187 29
34,34,1284094,115,151,0,34,3,1,22000.0,True,151.0,151.0,3.0,1.0,131 93 162 92
35,35,1320874,115,167,0,35,2,1,19000.0,True,167.0,167.0,2.0,1.0,131 130 162 38
36,36,1359412,115,7897,0,36,3,0,17000.0,True,7897.0,7897.0,0.0,1.0,61 110 162 92
37,37,1415188,115,7882,0,37,2,1,20000.0,True,7882.0,7882.0,2.0,1.0,51 131 102
38,38,1468285,115,7962,0,38,3,1,17000.0,True,7962.0,7962.0,3.0,1.0,51 131 92
39,39,667861680,115,1278,0,39,3,1,21000.0,False,1278.0,1278.0,3.0,2.0,143 140 81 29
40,40,667971812,115,2065,0,40,2,1,17000.0,False,2065.0,2063.0,2.0,3.0,136 162 92 29
41,41,667971812,115,2064,0,40,1,1,17000.0,False,2064.0,2063.0,1.0,3.0,157 92 29
42,42,667971812,115,2063,0,40,3,0,17000.0,False,2063.0,2063.0,0.0,3.0,136 92 29
43,43,668090043,115,3363,0,41,1,0,14333.0,False,3363.0,3363.0,3.0,4.0,74 103 29
44,44,668090043,115,3365,0,41,0,0,14333.0,False,3365.0,3363.0,2.0,4.0,136 103 29
45,45,668090043,115,3364,0,41,1,1,14333.0,False,3364.0,3363.0,1.0,4.0,136 103 29

In [11]:
df_merge_1[df_merge_1.user_id == 124]

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,question_id,bundle_id,correct_answer,part,tags
46,46,0,124,7900,0,0,0,1,NaN,NaN,7900.0,7900.0,0.0,1.0,131 93 81
47,47,32683,124,7876,0,1,0,0,26000.0,False,7876.0,7876.0,3.0,1.0,10 94 92
48,48,62000,124,175,0,2,2,1,29000.0,False,175.0,175.0,2.0,1.0,9 10 92
49,49,83632,124,1278,0,3,1,0,26000.0,False,1278.0,1278.0,3.0,2.0,143 140 81 29
50,50,189483,124,2064,0,4,2,0,18000.0,False,2064.0,2063.0,1.0,3.0,157 92 29
51,51,189483,124,2063,0,4,3,0,18000.0,False,2063.0,2063.0,0.0,3.0,136 92 29
52,52,189483,124,2065,0,4,2,1,18000.0,False,2065.0,2063.0,2.0,3.0,136 162 92 29
53,53,258793,124,3364,0,5,2,0,33333.0,False,3364.0,3363.0,1.0,4.0,136 103 29
54,54,258793,124,3365,0,5,3,0,33333.0,False,3365.0,3363.0,2.0,4.0,136 103 29
55,55,258793,124,3363,0,5,0,0,33333.0,False,3363.0,3363.0,3.0,4.0,74 103 29
56,56,330528,124,2948,0,6,2,0,21000.0,False,2948.0,2946.0,0.0,4.0,136 67 92
57,57,330528,124,2947,0,6,1,1,21000.0,False,2947.0,2946.0,1.0,4.0,74 67 92
58,58,330528,124,2946,0,6,1,0,21000.0,False,2946.0,2946.0,3.0,4.0,136 67 92
59,59,382790,124,2595,0,7,0,1,21666.0,False,2595.0,2593.0,0.0,4.0,82 103 102
60,60,382790,124,2593,0,7,0,0,21666.0,False,2593.0,2593.0,3.0,4.0,136 103 102
61,61,382790,124,2594,0,7,3,0,21666.0,False,2594.0,2593.0,2.0,4.0,161 103 102
62,62,419266,124,4492,0,8,3,0,15000.0,False,4492.0,4492.0,2.0,5.0,80
63,63,445527,124,4120,0,9,2,0,32000.0,False,4120.0,4120.0,0.0,5.0,123
64,64,475421,124,4696,0,10,3,0,23000.0,False,4696.0,4696.0,0.0,5.0,133
65,65,492328,124,6116,0,11,3,1,27000.0,False,6116.0,6116.0,3.0,5.0,23
66,66,513206,124,6173,0,12,1,0,14000.0,False,6173.0,6173.0,2.0,5.0,151
67,67,523644,124,6370,0,13,3,0,17000.0,False,6370.0,6370.0,2.0,5.0,79
68,68,554504,124,6909,0,14,0,1,7000.0,False,6909.0,6908.0,0.0,6.0,91
69,69,554504,124,6910,0,14,1,0,7000.0,False,6910.0,6908.0,3.0,6.0,115
70,70,554504,124,6908,0,14,2,0,7000.0,False,6908.0,6908.0,0.0,6.0,1
71,71,554504,124,6911,0,14,2,0,7000.0,False,6911.0,6908.0,3.0,6.0,27
72,72,571323,124,7218,0,15,3,0,6500.0,False,7218.0,7216.0,2.0,7.0,50 18 21
73,73,571323,124,7216,0,15,0,0,6500.0,False,7216.0,7216.0,3.0,7.0,97 50 21
74,74,571323,124,7217,0,15,3,0,6500.0,False,7217.0,7216.0,2.0,7.0,50 118 21
75,75,571323,124,7219,0,15,1,0,6500.0,False,7219.0,7216.0,2.0,7.0,50 19 21

In [12]:
df_merge_2 = df_merge_1.merge(df_lectures, how='left', left_on='content_id', right_on='lecture_id')

In [13]:
df_merge_2.shape

(101230332, 19)

In [14]:
df_merge_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101230332 entries, 0 to 101230331
Data columns (total 19 columns):
 #   Column                          Dtype
---  ------                          -----
 0   row_id                          int64
 1   timestamp                       int64
 2   user_id                         int64
 3   content_id                      int64
 4   content_type_id                 int64
 5   task_container_id               int64
 6   user_answer                     int64
 7   answered_correctly              int64
 8   prior_question_elapsed_time     float64
 9   prior_question_had_explanation  object
 10  question_id                     float64
 11  bundle_id                       float64
 12  correct_answer                  float64
 13  part_x                          float64
 14  tags                            object
 15  lecture_id                      float64
 16  tag                             float64
 17  part_y                          float64
 18  type_of                         object
dtypes: float64(8), int64(8), object(3)
memory usage: 15.1+ GB

In [15]:
train = df_merge_2.copy()

In [16]:
# Extract the first 1000 user ids

user_ids1000 = train.user_id.value_counts().sort_index().iloc[0: 1000]
user_ids1000 = user_ids1000.index.to_list()

In [1]:
# Set the user_id to the index

train = train.set_index("user_id")
train.head()

NameError: name 'train' is not defined

In [ ]:
# Subtracts the records for the first 1000 users
train1000 = train.loc[user_ids1000]